body {
    font-family: 'Roboto', sans-serif;
}

.main-border {
    display: flex;
    align-items: center;
    padding-left: 1.5em;
    border-bottom: 1.5px black solid;
    background-color: rgb(255, 110, 57);
}

#main-link:visited {
    text-decoration: none;
    color: white;
}

.parent-list {
    display: inline-block;
    list-style-type: none;
}

.parent-list > li:nth-child(odd) {
    background-color: rgb(216, 215, 215);
    opacity: .9;
}

.list-title {
    font-weight: bolder;
    font-size: larger;
    align-items: center;
}

.taco-link {
    display: block;
    margin: 1em;
    font-size: 1.2em;
    color: green;
    margin-left: 0;
    font-weight: bold;

}

.made-with-love {
    display: flex;
    align-items: center;
    margin-top: 3em;
    padding: 1.3em;
    background-color: rgb(191, 218, 157);
    font-weight: bold;

}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


h1 {
    color: green;
}
div {
    margin-right: 2em;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(21, 216, 21);
}
